body {
    font-size: 20px;
    margin: 20px;
}
h1 {
    font-size: 25px;
}
h2 {

}

img {
	max-width: 100%;
}

figure {
	margin: 50px 0;
}
@media screen and (min-width: 490px){
    body{
        background: #0fa36b;
        font-size: 25px;
        margin: 40px;
    }
    h1{
        font-size: 30px;
    }

}