body {
    font-size: 20px;
    margin: 20px;
}
h1 {
    font-size: 25px;
}
h2 {

}
.content-cat{
    display: flex;
    flex-direction: column;
    width: 100%;
}
img {
	max-width: 100%;
}

figure {
	margin: 50px 0;
}
@media screen and (min-width: 490px){
    body{
        background: #0fa36b;
        font-size: 25px;
        margin: 40px;
    }
    h1{
        font-size: 30px;
    }
    .content-cat{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    figure{
        width: 50%;
    }
}