body{
    margin: 0px;
    background-color: #17171E;

}
header{
    position:fixed;
    top:0;
    width:100%;
    height:80px;
    color:#333;
    background:#272733;
}
#iconmenu{
    float: left;
    width: 20px;
    padding-top: 34px;
    padding-left: 30px;
}
#iconlogo{
    float: left;
    width: 116px;
    padding-top: 30px;
    padding-left: 28px;
}
#search{
    width: 830px;
    float: left;
    padding-top: 20px;
    padding-left: 60px;
}
#icontop{
    width: 175px;
    float: left;
    padding-top: 30px;
    padding-left: 430px;
}
#user{
    width: 40px;
    float: left;
    margin-top: 28px;
    border-radius: 200px;
    margin-left: 60px;
}
.menu-lateral{
    width: 260px;
    float: left;
}
.menu-principal{
    margin-top: 114px;
    margin-left: 30px;
    font-size: 16px;
    width: 100%;
    color: #ffffff;
    text-align: left;
    font-family: 'Muli';
    font-weight: 600;
}
.menu-second{
    margin-top: 60px;
    margin-left: 30px;
    font-size: 16px;
    width: 100%;
    color: #ffffff;
    text-align: left;
    font-family: 'Muli';
    font-weight: 500;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 
.imgmenu{
    margin-right: 10px;
}
.imgmenu-second{
    margin-right: 10px;
}
#menu-header{
    line-height: 40px;
}
#menu-second{
    line-height: 40px;
}
#subs{
    margin-top: 90px;
    margin-left: 30px;
    font-size: 16px;
    width: 100%;
    color: #ffffff;
    text-align: left;
    font-family: 'Muli';
    font-weight: 800;
}
#menu-third{
    line-height: 40px;
}
.imgmenu-third{
    margin-right: 10px;
    width: 25px;
}
.menu-third{
    margin-top: 30px;
    margin-left: 30px;
    font-size: 16px;
    width: 100%;
    color: #ffffff;
    text-align: left;
    font-family: 'Muli';
    font-weight: 500;
}
#setting{
    margin-top: 90px;
    margin-left: 30px;
    font-size: 16px;
    width: 100%;
    color: #ffffff;
    text-align: left;
    font-family: 'Muli';
    font-weight: 800;
}
/* está classe está duplicada, analisar ela posteriormente*/
.imgmenu-setting{
    margin-top: 30px;
    margin-left: 10px;
    font-size: 16px;
    width: 100%;
    color: #ffffff;
    text-align: left;
    font-family: 'Muli';
    font-weight: 500;
}
.imgmenu-setting{
    margin-right: 10px;
    width: 25px;
}
.channels-first{
    float: left;
    width: 80%;
    margin-top: 120px;
}
#title-channels{
    font-size: 26px;
    color: white;
    font-weight: bold;
    font-family: 'Muli';
    margin-left: 10px;
}
.imgchannel-firts{
    width: 50px;
    vertical-align: bottom line;
}
a{
    color: white;
    text-decoration:none; 
}
.thumbnail{
    overflow-x: visible;
    max-width: 100%;
    max-height: 218px;
}
.one{
    margin-top: 30px;
    float: left; 
    height: 145px;
}
.two{
    margin-top: 30px;
    float: left; 
    height: 145px;
    margin-left: 20px;
}
.three{
    margin-top: 30px;
    float: left; 
    height: 145px;
    margin-left: 20px;
}
.four{
    margin-top: 30px;
    float: left; 
    height: 145px;
    margin-left: 20px;
}
.five{
    margin-top: 30px;
    float: left; 
    height: 145px;
    margin-left: 20px;
}
.six{
    margin-top: 30px;
    float: left; 
    height: 145px;
    margin-left: 20px;
}
#title-01{
    font-size: 14px;
    color: white;
    float: left;
    font-weight: bold;
    margin-right: 68px;
    margin-top: 10px;
    font-family: Muli;
}

#subtitle-01{
    font-size: 12px;
    color: white;
    float: left;
    margin-right: 137px;
    margin-top: 10px;
    mix-blend-mode: normal;
    opacity: 0.4;
    line-height: 15px;
    font-family: Muli;
}
#channel-01{
    position: absolute;
    width: 60px;
    left: 24%;
    right: 83.17%;
    top: 42%;
    line-height: 15px;
    font-family: Muli;
    font-size: 12px;
    color: white;
    mix-blend-mode: normal;
    opacity: 0.4;
}
#channel-02{
    position: absolute;
    width: 60px;
    left: 38.2%;
    right: 83.17%;
    top: 42%;
    line-height: 15px;
    font-family: Muli;
    font-size: 12px;
    color: white;
    mix-blend-mode: normal;
    opacity: 0.4;
}
#channel-03{
    position: absolute;
    width: 60px;
    left: 52.4%;
    right: 83.17%;
    top: 42%;
    line-height: 15px;
    font-family: Muli;
    font-size: 12px;
    color: white;
    mix-blend-mode: normal;
    opacity: 0.4;
}
#channel-04{
    position: absolute;
    width: 60px;
    left: 66.7%;
    right: 83.17%;
    top: 42%;
    line-height: 15px;
    font-family: Muli;
    font-size: 12px;
    color: white;
    mix-blend-mode: normal;
    opacity: 0.4;
}
#channel-05{
    position: absolute;
    width: 60px;
    left: 80.9%;
    right: 83.17%;
    top: 42%;
    line-height: 15px;
    font-family: Muli;
    font-size: 12px;
    color: white;
    mix-blend-mode: normal;
    opacity: 0.4;
}
#channel-06{
    position: absolute;
    width: 60px;
    left: 95%;
    right: 83.17%;
    top: 42%;
    line-height: 15px;
    font-family: Muli;
    font-size: 12px;
    color: white;
    mix-blend-mode: normal;
    opacity: 0.4;
}
.top-views{
    float: left;
    width: 80%;
    margin-top: 65px;
}
#title-topviews{
    font-size: 26px;
    color: white;
    font-weight: bold;
    font-family: 'Muli';
    margin-left: 10px;
}
.imgtopviews-1{
    height: 232px;
    width: 502px;
    float: left;
    margin-right: 20px;
    margin-top: 30px;
}
.imgtopviews-2{
    height: 232px;
    width: 502px;
    float: left;
    margin-right: 20px;
    margin-top: 30px;
}
.imgtopviews-3{
    height: 232px;
    width: 502px;
    float: left;
    margin-top: 30px;
}
#topviews-list{
    font-size: 15px;
    color: white;
    font-weight: bold;
    font-family: Muli;
    padding-left: 20px;
}
#top-title-01{
    float: left;
    margin-left: 20px;
    margin-right: 264px;
    margin-top: 10px;
}
#top-title-02{
    float: left;
    margin-right: 420px;
    margin-top: 10px;
}
#top-title-03{
    float: left;
    margin-right: 264px;
    margin-top: 10px;
}
#top-subtitle-01{
    font-size: 12px;
    color: white;
    float: left;
    margin-right: 400px;
    margin-top: 10px;
    line-height: 15px;
    font-family: Muli;
    mix-blend-mode: normal;
    opacity: 0.4;
}
#top-subtitle-02{
    font-size: 12px;
    color: white;
    float: left;
    margin-right: 400px;
    margin-top: 10px;
    line-height: 15px;
    font-family: Muli;
    mix-blend-mode: normal;
    opacity: 0.4;
}
#top-subtitle-03{
    font-size: 12px;
    color: white;
    float: left;
    margin-top: 10px;
    line-height: 15px;
    font-family: Muli;
    mix-blend-mode: normal;
    opacity: 0.4;
}
#top-channel-01{
    float: left;
    line-height: 15px;
    font-family: Muli;
    font-size: 12px;
    color: white;
    margin-top: 30px;
    position: absolute;
    width: 100px;
    left: 36%;
    right: 83.17%;
    top: 83.4%;
    mix-blend-mode: normal;
    opacity: 0.4;
}
#top-channel-02{
    float: left;
    line-height: 15px;
    font-family: Muli;
    font-size: 12px;
    color: white;
    margin-top: 30px;
    position: absolute;
    width: 100px;
    left: 63.6%;
    right: 83.17%;
    top: 83.4%;
    mix-blend-mode: normal;
    opacity: 0.4;
}
#top-channel-03{
    float: left;
    line-height: 15px;
    font-family: Muli;
    font-size: 12px;
    color: white;
    margin-top: 30px;
    position: absolute;
    width: 100px;
    left: 94%;
    right: 83.17%;
    top: 83.4%;
    mix-blend-mode: normal;
    opacity: 0.4;
}
.channels-second{
    float: left;
    width: 80%;
    margin-top: 40px;
}
.imgchannel-second{
    width: 50px;
    vertical-align: bottom line;
}
#title-2{
    font-size: 26px;
    color: white;
    font-weight: bold;
    font-family: 'Muli';
    margin-left: 10px;
}
.footer{
    width: 100%;
    height: 400px;
    float: left;
    background-color: #17171E;
}
#text-footer{
    font-size: 26px;
    color: white;
    font-weight: bold;
    font-family: 'Muli';
    margin-left: 10px;
    display: block;
    text-align: center;
    margin-top: 150px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
}
#imgsocial-1{
    width: 50px;
    float: left;
    margin-left: 820px;
    background-color: white;
    border-radius: 200px;
}
#imgsocial-2{
    width: 50px;
    float: left;
    margin-left: 20px;
    background-color: white;
    border-radius: 200px;
}
#imgsocial-3{
    width: 50px;
    float: left;
    margin-left: 20px;
    background-color: white;
    border-radius: 200px;
}