body{
    margin: 0px;
    background-color: #17171E;

}
.header{
    position:fixed;
    top:0;
    width:100%;
    height:80px;
    color:#333;
    background:#272733;
}
#iconmenu{
    float: left;
    width: 20px;
    padding-top: 34px;
    padding-left: 30px;
}
#iconlogo{
    float: left;
    width: 116px;
    padding-top: 30px;
    padding-left: 28px;
}
#search{
    width: 830px;
    float: left;
    padding-top: 20px;
    padding-left: 60px;
}
#icontop{
    width: 175px;
    float: left;
    padding-top: 30px;
    padding-left: 490px;
}
#user{
    width: 40px;
    float: left;
    margin-top: 28px;
    border-radius: 200px;
    margin-left: 45px;
}
.menu-principal{
    margin-top: 114px;
    margin-left: 80px;
    font-size: 18px;
    width: 10%;
    color: #ffffff;
    text-align: left;
    font-family: 'Muli';
    font-weight: 600;
}
.menu-second{
    margin-top: 60px;
    margin-left: 80px;
    font-size: 18px;
    width: 10%;
    color: #ffffff;
    text-align: left;
    font-family: 'Muli';
    font-weight: 500;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} 
.imgmenu{
    margin-right: 10px;
}
.imgmenu-second{
    margin-right: 10px;
}
#menu-header{
    line-height: 40px;
}
#menu-second{
    line-height: 40px;
}
#subs{
    margin-top: 90px;
    margin-left: 80px;
    font-size: 18px;
    width: 10%;
    color: #ffffff;
    text-align: left;
    font-family: 'Muli';
    font-weight: 800;
}
#menu-third{
    line-height: 40px;
}
.imgmenu-third{
    margin-right: 10px;
    width: 25px;
}
.menu-third{
    margin-top: 30px;
    margin-left: 80px;
    font-size: 18px;
    width: 15%;
    color: #ffffff;
    text-align: left;
    font-family: 'Muli';
    font-weight: 500;
}
#setting{
    margin-top: 90px;
    margin-left: 80px;
    font-size: 18px;
    width: 10%;
    color: #ffffff;
    text-align: left;
    font-family: 'Muli';
    font-weight: 800;
}
.imgmenu-setting{
    margin-top: 30px;
    margin-left: 10px;
    font-size: 18px;
    width: 15%;
    color: #ffffff;
    text-align: left;
    font-family: 'Muli';
    font-weight: 500;
}
.imgmenu-setting{
    margin-right: 10px;
    width: 25px;
}
.channels-first{
    float: right;
    width: 90%;
    text-align: left;
    margin-top: 200px;
}