.game{
    margin-top: 20%;
}
.content{
    margin: 0 auto;
    top: 15%;
    width:603px;
    height:600px;
    border:solid 3px;
    display: flex;
}
 
.linha{
    height:200px;
}
 
.casa{
    width:200px;
    height:100%;
    border:solid 1px;
}